.list__item {
    float: left;
    margin: 25px 10px;
    overflow: hidden;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    

    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    &:hover{
        border-color: #000;
        .item__image {
            img{
                transform: scale(1.15);
            }
        }
    }
    .item__image {
        overflow: hidden;
        position: relative; 
        width: 298px;
        height: 198px;  
        >img{
            display: block;
            width: 100%;

            transition: 4s cubic-bezier(0.39, 0.575, 0.565, 1);
        }
    }
    .item__info {
        position: relative;
        padding: 10px 15px 20px;
        >*{
            margin-top: 10px;
        }
        h5{
            font: 400 12px/12px 'NotoSansKR';
            color: #8b8b8b;
        }
        h4{
            margin-bottom: 20px;
            font: 600 16px/22px 'NotoSansKR';
            color: #000;
        }
        .item__info__ratings{
            overflow: hidden;
            ul {
                overflow: hidden;
                float: left;
                li {
                    float: left;
                    margin-right: 3px;

                    >span {
                        display: inline-block;
                        width: 3px;
                        height: 12px;
                        background: #fff;
                        border: 1px solid #d3d3d3;

                        &.on {
                            border-color: #000;
                            background: #000;
                        }
                    }
                }
            }

            .item__info__review__counter {
                margin-left: 10px;
                float: left;
                font: 400 12px/14px 'NotoSansKR';
                color: orangered;
            }
        }
        p{
            text-align: right;
            font: 600 14px/14px 'NotoSansKR';
            color: steelblue;
            em{
                font: 400 14px/14px 'NotoSansKR';
                color: #000;
            }
        }
        .item__info__btn__wish{
            position: absolute;
            top: 8px;
            right: 15px;
            background: transparent;
            border-radius: 4px;
            color: mediumseagreen;
            font-size: 12px;

            transition: 0.6s;
            &:hover{
                border-color: mediumseagreen;
                background: mediumseagreen;
                color: #fff;
            }
            &.wish {
                border-color: mediumseagreen;
                background: mediumseagreen;
                color: #fff;
            }
        }
    }
}